* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  background-color: $offWhite;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.page__wrapper {
  background-color: $offWhite;
  min-height: 100vh;
  display: flex;
  place-content: center;
}

.content__wrapper {
  align-items: center;
  max-width: 1440px;
}

.page__header {
  width: 100%;
  display: flex;
}

.header__logo {
  font-family: $poppins;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: $darkPurple;
  padding-top: 32px;
  .strong__text {
    font-weight: 700;
  }
}

.bottom__container {
  margin-top: 40px;
  gap: 32px;
  justify-content: center;
}

.results {
  gap: 32px;
}

.lottie__container {
  max-width: 580px;
}

.pagination__wrapper {
  place-content: flex-end;
  gap: 12px;
  width: 100%;
  margin-right: 15%;
  margin-top: 32px;
}

.active {
  background-color: $primaryBlue !important;
  color: $white !important;
  border: 1px solid transparent !important;
}
