* {
  box-sizing: border-box;
  margin: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.page__wrapper {
  background-color: $offWhite;
  min-height: 100vh;
  align-items: center;
}

.header__logo {
  font-family: $poppins;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: $darkPurple;
  padding-top: 32px;
  .strong__text {
    font-weight: 700;
  }
}

.bottom__container {
  margin-top: 40px;
}

.results {
  gap: 32px;
}
