//Colors
$primaryBlue: #1e86ff;
$darkPurple: #282538;
$white: #ffffff;
$lightGray: #b9bdcf;
$blueGray: #334680;
$offGray: #b7bcce;
$footerGray: #b9bdcf;
$offWhite: #f6f7fb;
//Fonts
$montserrat: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;
