//Index Sidebar

.sidebar__checkbox {
  align-items: center;
  gap: 12px;
}

.fulltime__checkbox {
  border: solid 1px $lightGray;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.fulltime__text {
  font-family: $poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $blueGray;
}

.sidebar__title {
  font-family: $poppins;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $lightGray;
  margin-top: 32px;
}

.input__container--location {
  min-width: 379px;
  position: relative;
  margin-top: 16px;
  margin-bottom: 24px;
}

.location__search {
  width: 100%;
  background-color: $white;
  height: 48px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: none;
  text-indent: 48px;
  &::placeholder {
    font-family: $roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $lightGray;
  }
}

.search__icon {
  position: absolute;
  color: $lightGray;
  top: 50%;
  transform: translateY(calc(-50%));
  z-index: 2;
  left: 5%;
}

.radio__item {
  align-items: center;
  gap: 12px;
}

input[type="radio"] {
  border: solid 1px $lightGray;
  background-color: transparent;
  cursor: pointer;
  &:active {
    color: $primaryBlue;
  }
}

.radio__label {
  font-family: $poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $blueGray;
}

//Article Sidebar

.sidebar__back {
  color: $primaryBlue;
  gap: 16px;
  align-items: center;
  .back__text {
    font-family: $poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
}

.sidebar__text {
  font-family: $poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $blueGray;
  max-width: 231px;
  .sidebar__emails {
    color: $primaryBlue;
    text-decoration: none;
  }
}
