@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@300;500;700&family=Roboto:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

#root {
  background-color: #f6f7fb;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page__wrapper {
  background-color: #f6f7fb;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

.content__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
}

.page__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #282538;
  padding-top: 32px;
}

.header__logo .strong__text {
  font-weight: 700;
}

.bottom__container {
  margin-top: 40px;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  .bottom__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.results {
  gap: 32px;
}

.lottie__container {
  max-width: 580px;
}

.pagination__wrapper {
  place-content: flex-end;
  gap: 12px;
  width: 100%;
  margin-top: 32px;
  max-width: 1440px;
}

@media (max-width: 991px) {
  .pagination__wrapper {
    max-width: 568px;
  }
}

.active {
  background-color: #1e86ff !important;
  color: #ffffff !important;
  border: 1px solid transparent !important;
}

.card__wrapper {
  font-family: "Roboto", sans-serif;
  gap: 16px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.card__wrapper:hover {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.card__info {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
}

.card__img {
  max-width: 100%;
  width: 90px;
  border-radius: 4px;
}

.info__company {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #334680;
}

.info__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #334680;
  margin-top: 8px;
  max-width: 200px;
}

.info__badge {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #334680;
  padding: 6px 8px;
  border: solid 1px #334680;
  border-radius: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 12px;
}

.card__details {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #b9bdcf;
  gap: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.detail__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.item__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.position {
  background-image: url("https://i.ibb.co/VQNN1Dz/background-Img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1200px;
  min-width: 1000px;
  min-height: 138px;
  border-radius: 8px;
  margin-top: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .position {
    min-width: 351px;
  }
}

.input__container {
  max-width: 800px;
  position: relative;
  min-width: 790px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
  .input__container {
    min-width: 315px;
  }
}

.input__icon {
  color: #b9bdcf;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(calc(-50%));
          transform: translateY(calc(-50%));
  left: 2%;
}

@media (max-width: 991px) {
  .input__icon {
    left: 5%;
  }
}

.search__input {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  border: none;
  text-indent: 40px;
  text-overflow: ellipsis;
}

.search__input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #b9bdcf;
  overflow: hidden;
  display: inline-block;
}

.search__input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #b9bdcf;
  overflow: hidden;
  display: inline-block;
}

.search__input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #b9bdcf;
  overflow: hidden;
  display: inline-block;
}

.search__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #b9bdcf;
  overflow: hidden;
  display: inline-block;
}

@media (max-width: 991px) {
  .search__input::-webkit-input-placeholder {
    width: 60%;
  }
  .search__input:-ms-input-placeholder {
    width: 60%;
  }
  .search__input::-ms-input-placeholder {
    width: 60%;
  }
  .search__input::placeholder {
    width: 60%;
  }
}

.search__btn {
  position: absolute;
  right: 0.7%;
  top: 8%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: none;
  border-radius: 4px;
  padding: 14px 48px;
  background-color: #1e86ff;
  color: #ffffff;
  cursor: pointer;
}

.search__btn:hover {
  background-color: #51a1ff;
}

@media (max-width: 991px) {
  .search__btn {
    padding: 14px 27px;
    right: 1.7%;
  }
}

.sidebar__checkbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.fulltime__checkbox {
  border: solid 1px #b9bdcf;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.fulltime__text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #334680;
}

.sidebar__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #b9bdcf;
  margin-top: 32px;
}

.input__container--location {
  min-width: 379px;
  position: relative;
  margin-top: 16px;
  margin-bottom: 24px;
}

.location__search {
  width: 100%;
  background-color: #ffffff;
  height: 48px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: none;
  text-indent: 48px;
}

.location__search::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #b9bdcf;
}

.location__search:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #b9bdcf;
}

.location__search::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #b9bdcf;
}

.location__search::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #b9bdcf;
}

.search__icon {
  position: absolute;
  color: #b9bdcf;
  top: 50%;
  -webkit-transform: translateY(calc(-50%));
          transform: translateY(calc(-50%));
  z-index: 2;
  left: 5%;
}

.radio__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

input[type="radio"] {
  border: solid 1px #b9bdcf;
  background-color: transparent;
  cursor: pointer;
}

input[type="radio"]:active {
  color: #1e86ff;
}

.radio__label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #334680;
}

.sidebar__back {
  color: #1e86ff;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.sidebar__back .back__text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.sidebar__text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #334680;
  max-width: 231px;
}

.sidebar__text .sidebar__emails {
  color: #1e86ff;
  text-decoration: none;
}

.article__wrapper {
  gap: 64px;
}

.details__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.details__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #334680;
}

.article__badge {
  margin-top: 0;
}

.details__item {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b9bdcf;
  gap: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-top: 8px;
}

.details__info {
  gap: 12px;
  margin-top: 32px;
}

.info__img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 42px;
  border-radius: 4px;
}

.details__company {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #334680;
}

.details__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #334680;
  max-width: 650px;
  margin-top: 32px;
}

.footer__sign {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #b9bdcf;
  margin-top: 32px;
}

.footer__sign a {
  text-decoration: none;
  color: #b9bdcf;
}
